<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Sākums</MudNavLink>
    <MudNavLink Href="/cirsmas" Match="NavLinkMatch.Prefix">Cirsmas</MudNavLink>
    <MudNavGroup Title="Iestatījumi" Expanded="true">
        <MudNavLink Href="/test" Match="NavLinkMatch.Prefix">Test1</MudNavLink>
        <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Test2</MudNavLink>
    </MudNavGroup>
</MudNavMenu>




@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Palma Timber Mob</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Sākums
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Pavadzīmes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cirsmas">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Cirsmas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
 *@