@page "/cirsmas"

<h3>CirsmasPage</h3>

<MudIcon Icon="@Icons.Material.Filled.Help" Title="Neredzi cirsmu? Vai tā ir ar statusu Izstrādē, Sagatavots? Vai tev ir piešķirts pakalpojums ar tipu pievešana?" />

@code {

}
